<div class="contents row">
  <div class="container">
    <h3>投稿する</h3>
    <%= form_with(model: @task, local: true) do |form| %>
      <%= form.text_field :state, placeholder: "State" %>
      <%= form.text_field :task, placeholder: "Task" %>
      <%= form.date_field :limit_date, placeholder: "Limit Date" %>
      <%= form.submit "SEND" %>
    <% end %>
  </div>
</div>